<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- More CSS custom-->
    <link rel="stylesheet" href="css-custom/custom.css">
    <title>Burpee-O-Mat</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark sticky-top">
        <ul class="navbar-nav mr-auto">
            <li>
                <a href="#step_burpee">Start</a>
                <a href="#settings">Einstellungen</a>
            </li>
        </ul>
</nav>

<div class="container bg-light h-100 " id="counter" style="min-height:100%; height:100%; box-sizing:border-box;">
    <div class="row px-3">
        <div class="col-sm-8">
            <div class="container text-center" id="step_burpee" style="font-size: 15rem">
                0
            </div>
            <div class="container text-center">
                <p id="up_down">0</p>
                <p id="section">0</p>
            </div>
            <div id="app-control">
                <div class="container text-center m-3">
                    <button v-on:click="pause" class="button btn-success btn-lg btn-block" v-if="!running && wait_after_burpees && all_steps_and_jumps_counter > 1">Weiter geht's!</button>
                </div>
                <div class="container text-center">
                    <button class="btn btn-success" id="btn-start">(Re)-Start</button>
                    <button v-on:click="pause" class="btn btn-warning" ><span v-if="running">Pause</span><span v-else>Resume</span></button>
                    <button class="btn btn-danger" id="btn-abort">Abbruch</button>
                </div>
            </div>

        </div>
        <div class="col-sm-4" id="app-current">
            <div >
                <h3>Aktuell ist dran:</h3>
                <p>{{all_steps_and_jumps[all_steps_and_jumps_counter]}}</p>
            </div>

        </div>
    </div>
</div>


<div class="container bg-light h-100">
    <h2 id="settings">Einstellungen</h2>
    <div id="app-settings">
        <div class="form-group">
            <label for="wait_after_burpees">Nach den Burpees Knopf zum fortfahren drücken notwendig</label>
            <input class="form-control" type="checkbox" id="wait_after_burpees" v-model="wait_after_burpees">
        </div>
        <div class="form-group">
            <label for="sections">Wir machen Burpees bis </label>
            <input class="form-control" type="number" id="sections" v-model.number="sections">
        </div>
        <div class="form-group">
            <label for="steps_figure">Schritte pro Figur</label>
            <input class="form-control" type="number" id="steps_figure" v-model.number="figure_steps">
        </div>
        <div class="form-group">
            <label for="step_delay">Millisekunden pro Schritt</label>
            <input class="form-control" type="number" id="step_delay" v-model.number="delay_step">
        </div>
        <div class="form-group">
            <label for="delay_jump">Millisekunden pro Burpee</label>
            <input class="form-control" type="number" id="delay_jump" v-model.number="delay_jump">
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="js-functions/vue.js"></script>
<script src="js-functions/functions.js"></script>

<script>

    var app_settings = new Vue({
        el: "#app-settings",
        data: storage
    })

    var app_current = new Vue({
        el: "#app-current",
        data: storage
    })

    var app_control = new Vue({
        el: "#app-control",
        data: storage,
        methods: {
            pause: function (event) {
                this.running = !this.running; // todo Restart-logik ändern
            }
        }
    })


    document.getElementById("btn-start").addEventListener('click', do_all);
    document.getElementById("btn-abort").addEventListener('click', abort_all);


</script>
</body>
</html>